In [140]:
import pandas as pd
import numpy as np

In [141]:
df=pd.read_csv(r"C:\Users\HP\Desktop\PYTHON\NLP\ZIP NLP\projects\train.csv")
df=pd.DataFrame(data=df)
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [142]:
df.shape

(38932, 5)

In [143]:
df.isnull().sum()

User_ID         0
Description     0
Browser_Used    0
Device_Used     0
Is_Response     0
dtype: int64

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38932 entries, 0 to 38931
Data columns (total 5 columns):
User_ID         38932 non-null object
Description     38932 non-null object
Browser_Used    38932 non-null object
Device_Used     38932 non-null object
Is_Response     38932 non-null object
dtypes: object(5)
memory usage: 1.5+ MB

In [145]:
df["Browser_Used"].value_counts()

Firefox              7367
Edge                 7134
Google Chrome        4659
InternetExplorer     4588
Mozilla Firefox      4328
Mozilla              3092
Chrome               2470
IE                   2439
Internet Explorer    2103
Safari                390
Opera                 362
Name: Browser_Used, dtype: int64

In [146]:
df["Device_Used"].value_counts()

Desktop    15026
Mobile     14976
Tablet      8930
Name: Device_Used, dtype: int64

In [147]:
df["Is_Response"].value_counts()

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

### removing punctuations

In [148]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [149]:
def rmv_punct(text):
    no_punct=[words for words in text if words not in string.punctuation]
    words_wo_punct="".join(no_punct)
    return words_wo_punct

df["new_description"]=df["Description"].apply(lambda x: rmv_punct(x.lower())) #used the lower function also, because we would be doing it later so to reduce lines i have written it here
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...

### word tokenizing
#in the block of code below, "\W+" splits all the non words characaters

In [150]:
import re

def tokenize(text):
    split=re.split("\W+", text)
    return split
df["new_description_with_split"]=df["new_description"].apply(lambda x: tokenize(x))
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,..."
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri..."
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,..."
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t..."
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce..."

### STOP_WORDS

 Now, we have a list of words without any punctuation.
#Let’s go ahead and remove the stop words. 
#Stop words are irrelevant words that won’t help in identifying a text as real or fake. 
#We will use “nltk” library for stop-words

In [151]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [152]:
# stopword=set(nltk.corpus.stopwords.words("english"))
# print(stopword)

In [153]:
#now lets create a function which will remove the stopwords 

# def rmv_stopwords(text):
#     text=[words for words in text if words not in stopword]
#     return text

# df["new_description_with_split_stopwords"]=df["new_description_with_split"].apply(lambda x: rmv_stopwords(x))
# df.head()

### STEMMING AND LEMMATIZING

In [154]:
from nltk.stem import WordNetLemmatizer
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [155]:
wnl=WordNetLemmatizer()

In [157]:
def lemmatization(text):
    lem_text=[wnl.lemmatize(word) for word in text]
    return lem_text

df["new_description_with_split_stopwords_lemma"]=df["new_description_with_split"].apply(lambda x: lemmatization(x))
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split,new_description_with_split_stopwords_lemma
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,...","[the, room, wa, kind, of, clean, but, had, a, ..."
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri...","[i, stayed, at, the, crown, plaza, april, apri..."
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,...","[i, booked, this, hotel, through, hotwire, at,..."
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t...","[stayed, here, with, husband, and, son, on, th..."
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce...","[my, girlfriend, and, i, stayed, here, to, cel..."

In [158]:
df["new_description_with_split_stopwords_lemma"]

0        [the, room, wa, kind, of, clean, but, had, a, ...
1        [i, stayed, at, the, crown, plaza, april, apri...
2        [i, booked, this, hotel, through, hotwire, at,...
3        [stayed, here, with, husband, and, son, on, th...
4        [my, girlfriend, and, i, stayed, here, to, cel...
5        [we, had, room, one, wa, very, nice, and, clea...
6        [my, husband, and, i, have, stayed, in, this, ...
7        [my, wife, i, stayed, in, this, glorious, city...
8        [my, boyfriend, and, i, stayed, at, the, fairm...
9        [wonderful, staff, great, location, but, it, w...
10       [step, off, time, square, nice, room, stayed, ...
11       [me, the, wife, and, kid, stayed, here, on, va...
12       [we, stay, at, the, jolly, madison, over, the,...
13       [i, highly, recommend, the, hawthorne, terrace...
14       [i, found, the, hotel, clean, and, nicely, loc...
15       [stayed, at, the, elan, from, th, to, th, octo...
16       [priceline, sent, u, to, this, hotel, after, a...
17       [old, and, cheap, furnituresour, chair, wa, si...
18       [we, stayed, here, for, night, and, were, real...
19       [the, service, wa, fine, but, the, hotel, itse...
20       [having, stayed, at, many, hilton, property, i...
21       [this, is, everything, you, could, want, from,...
22       [i, very, much, wanted, to, stay, at, a, bouti...
23       [i, really, liked, this, hotel, the, staff, we...
24       [my, wife, and, spent, day, there, this, month...
25       [we, stayed, at, this, hotel, for, two, night,...
26       [took, a, girl, trip, to, la, and, had, no, id...
27       [stayed, with, my, girlfriend, for, a, long, w...
28       [i, have, stayed, here, numerous, time, and, n...
29       [the, public, area, are, nice, to, look, at, t...
                               ...
38902    [after, having, stayed, at, the, waldorf, many...
38903    [this, hotel, is, a, great, choice, for, those...
38904    [although, new, york, is, a, large, city, when...
38905    [i, used, to, live, in, austin, so, when, i, m...
38906    [ive, stayed, at, the, hilton, hyatt, magnolia...
38907    [great, locationshort, walk, from, amtrak, sta...
38908    [when, we, booked, this, wa, a, renaissance, h...
38909    [hotel, is, an, old, style, red, roof, and, ha...
38910    [i, have, to, admit, i, tried, rebooking, sinc...
38911    [room, wa, nice, everything, seemed, pretty, n...
38912    [then, a, great, place, to, stay, is, this, ho...
38913    [i, will, never, ever, stay, at, this, hotel, ...
38914    [after, being, on, a, bus, for, hour, and, fin...
38915    [pretty, cool, hotel, stayed, for, a, few, day...
38916    [we, stopped, over, in, lax, on, the, way, to,...
38917    [i, love, this, hotel, and, will, stay, again,...
38918    [we, were, excited, about, our, stay, at, the,...
38919    [i, didnt, get, to, see, much, of, seattle, bu...
38920    [my, husband, and, i, stayed, one, night, at, ...
38921    [we, staed, at, the, handlery, hotel, to, visi...
38922    [this, hotel, ha, a, great, location, if, you,...
38923    [i, am, pretty, impartial, to, this, hotel, i,...
38924    [we, booked, a, room, with, two, single, bed, ...
38925    [arrived, via, taxi, from, la, guardia, drivin...
38926    [i, tend, to, post, review, only, when, i, ve,...
38927    [we, arrived, late, at, night, and, walked, in...
38928    [the, only, positive, impression, is, location...
38929    [traveling, with, friend, for, shopping, and, ...
38930    [the, experience, wa, just, ok, we, paid, extr...
38931    [the, westin, is, a, wonderfully, restored, gr...
Name: new_description_with_split_stopwords_lemma, Length: 38932, dtype: object

In [160]:
# df["new_description_with_split_stopwords"]

In [161]:
from nltk.stem import SnowballStemmer
snowball=SnowballStemmer("english")

In [162]:
def snowstem(text):
    ss=[snowball.stem(word) for word in text]
    return ss

df["new_description_with_split_stopwords_stem"]=df["new_description_with_split"].apply(lambda x: snowstem(x))
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split,new_description_with_split_stopwords_lemma,new_description_with_split_stopwords_stem
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,...","[the, room, wa, kind, of, clean, but, had, a, ...","[the, room, was, kind, of, clean, but, had, a,..."
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri...","[i, stayed, at, the, crown, plaza, april, apri...","[i, stay, at, the, crown, plaza, april, april,..."
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,...","[i, booked, this, hotel, through, hotwire, at,...","[i, book, this, hotel, through, hotwir, at, th..."
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t...","[stayed, here, with, husband, and, son, on, th...","[stay, here, with, husband, and, son, on, the,..."
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce...","[my, girlfriend, and, i, stayed, here, to, cel...","[my, girlfriend, and, i, stay, here, to, celeb..."

In [165]:
from nltk.stem import PorterStemmer
porter=PorterStemmer()

In [166]:
def portstem(text):
    ps=" ".join([porter.stem(word) for word in text])
    return ps

df["new_description_with_split_stopwords_portstem"]=df["new_description_with_split"].apply(lambda x: portstem(x))
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split,new_description_with_split_stopwords_lemma,new_description_with_split_stopwords_stem,new_description_with_split_stopwords_portstem
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,...","[the, room, wa, kind, of, clean, but, had, a, ...","[the, room, was, kind, of, clean, but, had, a,...",the room wa kind of clean but had a veri stron...
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri...","[i, stayed, at, the, crown, plaza, april, apri...","[i, stay, at, the, crown, plaza, april, april,...",i stay at the crown plaza april april the staf...
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,...","[i, booked, this, hotel, through, hotwire, at,...","[i, book, this, hotel, through, hotwir, at, th...",i book thi hotel through hotwir at the lowest ...
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t...","[stayed, here, with, husband, and, son, on, th...","[stay, here, with, husband, and, son, on, the,...",stay here with husband and son on the way to a...
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce...","[my, girlfriend, and, i, stayed, here, to, cel...","[my, girlfriend, and, i, stay, here, to, celeb...",my girlfriend and i stay here to celebr our th...

In [168]:
# as we can see from the above data that stemming here is more useful that lemmatization , because lemmatization could barely
# differentiate from the other columns , so henceforth we will dropping all those columns which will not useful in the further
# process of our sentiment analysis

In [169]:
df.columns

Index(['User_ID', 'Description', 'Browser_Used', 'Device_Used', 'Is_Response',
       'new_description', 'new_description_with_split',
       'new_description_with_split_stopwords_lemma',
       'new_description_with_split_stopwords_stem',
       'new_description_with_split_stopwords_portstem'],
      dtype='object')

In [170]:
newdf=pd.DataFrame(data=df)
newdf.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split,new_description_with_split_stopwords_lemma,new_description_with_split_stopwords_stem,new_description_with_split_stopwords_portstem
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,...","[the, room, wa, kind, of, clean, but, had, a, ...","[the, room, was, kind, of, clean, but, had, a,...",the room wa kind of clean but had a veri stron...
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri...","[i, stayed, at, the, crown, plaza, april, apri...","[i, stay, at, the, crown, plaza, april, april,...",i stay at the crown plaza april april the staf...
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,...","[i, booked, this, hotel, through, hotwire, at,...","[i, book, this, hotel, through, hotwir, at, th...",i book thi hotel through hotwir at the lowest ...
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t...","[stayed, here, with, husband, and, son, on, th...","[stay, here, with, husband, and, son, on, the,...",stay here with husband and son on the way to a...
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce...","[my, girlfriend, and, i, stayed, here, to, cel...","[my, girlfriend, and, i, stay, here, to, celeb...",my girlfriend and i stay here to celebr our th...

In [171]:
newdf.drop(columns=['User_ID', 'Description', 'Browser_Used', 'Device_Used',
       'new_description', 'new_description_with_split',
       'new_description_with_split_stopwords_lemma',
       'new_description_with_split_stopwords_stem'],inplace=True)

newdf.head()

  Is_Response      new_description_with_split_stopwords_portstem
0   not happy  the room wa kind of clean but had a veri stron...
1   not happy  i stay at the crown plaza april april the staf...
2   not happy  i book thi hotel through hotwir at the lowest ...
3       happy  stay here with husband and son on the way to a...
4   not happy  my girlfriend and i stay here to celebr our th...

# LABEL Encoding

In [173]:
from sklearn import preprocessing

label_encoder=preprocessing.LabelEncoder()

In [174]:
newdf["Is_Response"]=label_encoder.fit_transform(newdf["Is_Response"])
newdf.head()

# 1 ---> not happy
# 0 ---. happy

   Is_Response      new_description_with_split_stopwords_portstem
0            1  the room wa kind of clean but had a veri stron...
1            1  i stay at the crown plaza april april the staf...
2            1  i book thi hotel through hotwir at the lowest ...
3            0  stay here with husband and son on the way to a...
4            1  my girlfriend and i stay here to celebr our th...

### MODEL TRAINING

In [175]:
from sklearn.model_selection import train_test_split

In [176]:
y=newdf["Is_Response"]
x=newdf["new_description_with_split_stopwords_portstem"]

In [177]:
y.head()

0    1
1    1
2    1
3    0
4    1
Name: Is_Response, dtype: int32

In [178]:
x.head()

0    the room wa kind of clean but had a veri stron...
1    i stay at the crown plaza april april the staf...
2    i book thi hotel through hotwir at the lowest ...
3    stay here with husband and son on the way to a...
4    my girlfriend and i stay here to celebr our th...
Name: new_description_with_split_stopwords_portstem, dtype: object

In [179]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=50)

print(len(x_train))
print(len(y_train))
print(len(x_test))
print(len(y_test))

27252
27252
11680
11680

In [180]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix

In [181]:
tfidf=TfidfVectorizer()
clfr= LogisticRegression(solver="lbfgs")

model=Pipeline([("vectorizer",tfidf),("classifier",clfr)])

model.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='warn', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [182]:
pred=model.predict(x_test)

In [183]:
pred

array([0, 1, 0, ..., 1, 0, 1])

In [184]:
confusion_matrix(pred,y_test)

array([[7516,  803],
       [ 486, 2875]], dtype=int64)

In [185]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
import warnings
warnings.filterwarnings("ignore")

In [186]:
print("Accuracy: ", accuracy_score(pred,y_test))
print("Precision: ", precision_score(pred,y_test,average="weighted"))
print("Recall: ",recall_score(pred,y_test,average="weighted"))

Accuracy:  0.8896404109589041
Precision:  0.8939174781041512
Recall:  0.8896404109589041

### Predicting your model

In [196]:
testdf=pd.read_csv(r"C:\Users\HP\Desktop\PYTHON\NLP\ZIP NLP\projects\test.csv")
testdf=pd.DataFrame(data=testdf)
testdf.head()

#importing the test-data set

,User_ID,Description,Browser_Used,Device_Used
0,id80132,Looking for a motel in close proximity to TV t...,Firefox,Mobile
1,id80133,Walking distance to Madison Square Garden and ...,InternetExplorer,Desktop
2,id80134,Visited Seattle on business. Spent - nights in...,IE,Tablet
3,id80135,This hotel location is excellent and the rooms...,Edge,Mobile
4,id80136,This hotel is awesome I love the service Antho...,Mozilla,Mobile

In [203]:
r=model.predict(testdf["Description"])
print(r)
#testing the model only on description because this is the only useful feature

[1 0 1 ... 0 0 0]

In [211]:
testdf["pred_val"]=r
testdf.head()

,User_ID,Description,Browser_Used,Device_Used,pred_val
0,id80132,Looking for a motel in close proximity to TV t...,Firefox,Mobile,1
1,id80133,Walking distance to Madison Square Garden and ...,InternetExplorer,Desktop,0
2,id80134,Visited Seattle on business. Spent - nights in...,IE,Tablet,1
3,id80135,This hotel location is excellent and the rooms...,Edge,Mobile,1
4,id80136,This hotel is awesome I love the service Antho...,Mozilla,Mobile,0

In [212]:
testdf.drop(columns=["User_ID","Browser_Used","Device_Used"],inplace=True)

In [216]:
testdf.head(20)

                                          Description  pred_val
0   Looking for a motel in close proximity to TV t...         1
1   Walking distance to Madison Square Garden and ...         0
2   Visited Seattle on business. Spent - nights in...         1
3   This hotel location is excellent and the rooms...         1
4   This hotel is awesome I love the service Antho...         0
5   Rooms, concierge services and party scene were...         0
6   What a pleasant place to stay!\nThe hotel is b...         0
7   I booked out the same day I arrived. It cost m...         1
8   Unlike some hotels that grimace when you show ...         0
9   Hotel Sorella for my birthday. I absolutely lo...         0
10  I had a very comfortable stay at Baymont. It w...         0
11  This hotel is a keeper! First, you get a full ...         0
12  Really nice lobby, with free coffee, water, co...         0
13  There's a reason why so many of the previous r...         1
14  Great location, close to Times Square and so m...         0
15  We booked the Hampton for one night based on T...         0
16  I stayed here with my girlfriend who was atten...         0
17  From the location to service to amenities, thi...         0
18  my work sent me down to jacksonville - times t...         0
19  Stayed here for two nights while I visited DC ...         0